:host {
  display: flex;
}

.editor {
  width: 50%;
  padding: 0 1.5rem;

  textarea {
    width: 350px;
    min-height: 120px;
  }
}

.preview {
  width: 50%;
  padding: 0 1.5rem;

  .view {
    width: 350px;
    min-height: 120px;
    border: 1px solid #000;
  }
}
